body{
    margin: 0;
    
}


.container{
    margin: 0px 10px;
}
.header {
    background-image: url(bg2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.header-line{
    padding-top: 5px;
    display: flex;
    align-items: center;

    justify-content:space-around;


}

.nav-item{
    color: #FFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 20px;
    margin-right: 150px;
    transition: color 0.3s linear;
}

.nav-item:hover{
    color: rgb(118, 111, 198);
}

.text{
    color: #3C4BD4;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 80px;
    font-weight:900;
    text-align: center;
    margin-top: 30px
    
}
.prog{
    font-size: 50px
}


