body{
    margin: 0;
    overflow: hidden;
}
.container{
    margin: 0px 10px;
}
.header {
    background-image: url(bg2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.header-line{
    padding-top: 5px;
    display: flex;
    align-items: center;

    justify-content:space-around;
}
.title{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:100;
    position: relative; left: -430px;
    
}
.topic{
    align-items: center;
}
.topic1{
    color: #2E3AA5;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight:900;
    position: relative; left:170px;
    position: relative; top: 20px
}
.topic2{
    color: #2E3AA5;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight:900;
    position: relative; left:550px;
    position: relative; top: 20px
    
}
.button {
    background-color: #2E3AA5;

    border: none;
    color: #FFF;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 4px 2px;
    position: relative; left: 280px;
    position: relative; top: 60px;
    
    
}
.button1{
    border-radius: 20px;
    height: 130px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    
    
}
.button2{
    border-radius: 20px;
    height: 70px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    
    
}
.button3{
    border-radius: 20px;
    height: 70px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    
    
}
.button4{
    border-radius: 20px;
    height: 70px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    
    
}
.button1:hover{
    opacity:.50;
}

.button2:hover{
    opacity: .50
}
.button3:hover{
    opacity: .50
}
.button4:hover{
    opacity: .50
}